# Python
__pycache__/
*.pyc

# Virtual Environment
evgpt-venv/
venv/

# IDE
.idea/
.vscode/

# Project specific
# We are NOT ignoring the db/ folder because it's part of the source now.
*.env
.env
.streamlit/

# The raw data is not needed in the repo if the DB is pre-built
data/

# Logs
*.log